<section>
    <h1 class="p-name">{{course?.title}} <br><small>{{course?.description}}</small></h1>
    <ul>
        <li><strong>Requisiti di accesso:</strong>&ensp;{{course?.requirements}}</li>
        <li><strong>Accesso al corso:</strong>&ensp;{{course?.access}}</li>
        <li><strong>Titolo rilasciato:</strong>&ensp;{{course?.certificate}}</li>
    </ul>
</section>
<section>
    <h2>Obiettivi</h2>
    <p class="e-description">{{course?.goals}}</p>
</section>
<section>
    <h2>Sbocchi Occupazionali</h2>
    <p>{{course?.job}}</p>
</section>
<section>
    <h2>Attività formative</h2>
    <h3>I anno</h3>
    <p>{{course?.program}}</p>
    <div *ngIf="course?.programII">
        <h3>II anno</h3>
        <p>{{course?.programII}}</p>
    </div>
    <div *ngIf="course?.programIII">
        <h3>III anno</h3>
        <p>{{course?.programIII}}</p>
    </div>
    <h3>Prova Finale</h3>
</section>
<section>
    <ul>
        <li><i class="material-icons">phone</i>&ensp;0815540383</li>
        <li><i class="material-icons">mail</i>&ensp;info@accademiamoda.it</li>
        <li *ngIf="course?.docName"><a href="/uploads/{{course?.docName}}" target="_blank"><i class="material-icons">picture_as_pdf</i>&ensp;Scarica l'opuscolo</a></li>
    </ul>
    <div class="center-align">
        <a class="waves-effect waves-light btn-flat" routerLink="/home/courses">Tutti i corsi</a>
    </div>
</section>