<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col m6 s12">
                <h5>Accademia della Moda</h5>
                <p>Italian University of Art and Design</p>
                <address>
                            Via Giuseppe Pica, 62<br>
                            80142 Napoli<br>
                            <i class="material-icons">phone</i>&ensp;081 554 0383<br>
                            <i class="material-icons">mail</i>&ensp;info@accademiadellamoda.it
                        </address>
            </div>
            <div class="col m4 offset-l2 s12">
                <h5>Menu</h5>
                <ul>
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/home/courses">Corsi</a></li>
                    <li><a routerLink="/information">Info</a></li>
                    <li><a routerLink="/home/news">News</a></li>
                    <li><a href="#!">en</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container"> © 2017 Accademia della Moda | Iuad <a class="right" routerLink="/dashboard">Dashboard</a> </div>
    </div>
</footer>