<section>
    <h1>Dashboard</h1>
    <p>Tramite la dashboard potrai aggiungere e modificare dati per la tua applicazione, naviga tra le sezioni e clicca sul tasto più per aggiungere dati, il tasto lista per visualizzare tutti i dati di una categoria oppure il tasto elimina per eliminare
        i dati visualizzati.</p>
    <ul>
        <li><a routerLink="/dashboard/courses">Tutti i corsi</a></li>
        <li><a routerLink="/dashboard/news">Tutte le news</a></li>
        <li><a routerLink="/dashboard/info">Tutte le info</a></li>
    </ul>
</section>